<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>299433087356-gh5fukt5oabp4voloavv6h50l56ab06j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.299433087356-gh5fukt5oabp4voloavv6h50l56ab06j</string>
	<key>API_KEY</key>
	<string>AIzaSyCHfFn8yMt2lNgk902QBCCX_swP-jd0GTY</string>
	<key>GCM_SENDER_ID</key>
	<string>299433087356</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>uiui.MusicTermApp</string>
	<key>PROJECT_ID</key>
	<string>musictermapp</string>
	<key>STORAGE_BUCKET</key>
	<string>musictermapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:299433087356:ios:1e327ec919ea085221d4f9</string>
</dict>
</plist>